[tool.black]
skip-string-normalization = true

[tool.flake8]
show-source = true
max-line-length = 99
application-import-names = "wazo_call_logd"
ignore = [
  "E203", # whitespace before ':'
  "W503", # line break before binary operator
]
per-file-ignores = [
  "integration_tests/suite/*.py:E501",
  "wazo_call_logd/tests/*.py:E501",
]
exclude = [
    ".tox",
    ".eggs",
    "**/alembic/**",
]

[tool.isort]
profile = "black"
py_version = 311

[tool.pytest]
testpaths = ["wazo_call_logd"]
