nose
mock
pika
psycopg2
pyhamcrest
sqlalchemy==0.7.2
svn+https://github.com/xivo-pbx/xivo-lib-python/trunk/xivo-lib-python
svn+https://github.com/xivo-pbx/xivo-bus/trunk/xivo-bus
svn+https://github.com/xivo-pbx/xivo-dao/trunk/xivo-dao
