git+https://github.com/wazo-pbx/xivo-auth-client.git
git+https://github.com/wazo-pbx/xivo-confd-client.git
git+https://github.com/wazo-pbx/xivo-dao.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git  # from xivo-*-client
cherrypy==3.7.0
flask==0.10.1
flask-restful==0.3.5
flask-cors==1.10.3
kombu==3.0.34
marshmallow==2.10.3
pyopenssl==0.14  # from xivo-lib-python
psycopg2==2.5.4
pyyaml==3.11
requests==2.4.3  # from xivo-*-client
sqlalchemy==0.9.8
stevedore==1.17.1
