https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-call-logd-client/archive/master.zip
https://github.com/wazo-platform/wazo-test-helpers/archive/master.zip
kombu
marshmallow==3.10.0
mock
openapi-spec-validator
pyhamcrest
pytest
python-dateutil==2.7.3  # from marshmallow, to accept more date formats
pytz==2019.1
requests
stevedore  # from wazo-call-logd-client

# for database tests
psycopg2-binary  # from sqlalchemy
sqlalchemy==1.2.18
sqlalchemy_utils==0.32.21
tenacity==4.12.0
https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
