https://github.com/wazo-pbx/wazo-call-logd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-dao/archive/master.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip
docker-compose
kombu
nose
openapi-spec-validator
psycopg2-binary  # from sqlalchemy
pyhamcrest
requests
sqlalchemy
stevedore  # from wazo-call-logd-client
