https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-call-logd-client/archive/master.zip
https://github.com/wazo-platform/wazo-test-helpers/archive/master.zip
kombu
marshmallow==3.10.0
openapi-spec-validator<0.6.0  # dependency conflict on requests version (>2.31.0) with wazo clients (=2.25.1)
pyhamcrest
pytest
python-dateutil==2.8.1  # from marshmallow, to accept more date formats
pytz==2021.1
requests
stevedore  # from wazo-call-logd-client

# for database tests
psycopg2-binary  # from sqlalchemy
sqlalchemy<2
sqlalchemy_utils
tenacity
https://github.com/wazo-platform/xivo-dao/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
