#!/bin/bash

set -e

. /usr/share/debconf/confmodule

db_input medium wazo-call-logd/db-host || true
db_input medium wazo-call-logd/db-admin-username || true
db_input medium wazo-call-logd/db-admin-password || true
db_input medium wazo-call-logd/db-app-name || true
db_input medium wazo-call-logd/db-app-username || true
db_input medium wazo-call-logd/db-app-password || true
db_go || true

db_stop
