[Unit]
Description=wazo-call-logd server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target asterisk.service postgresql.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStartPre=/usr/bin/install -d -o wazo-call-logd -g wazo-call-logd /run/wazo-call-logd
ExecStart=/usr/bin/wazo-call-logd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
