[Unit]
Description=wazo-call-logd server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target asterisk.service postgresql.service
Before=monit.service

[Service]
ExecStartPre=/usr/bin/install -d -o wazo-call-logd -g wazo-call-logd /run/wazo-call-logd
ExecStart=/usr/bin/wazo-call-logd
PIDFile=/run/wazo-call-logd/wazo-call-logd.pid

[Install]
WantedBy=multi-user.target
