[Unit]
Description=xivo-call-logd server
ConditionPathExists=!/var/lib/xivo/disabled
After=network.target asterisk.service postgresql.service
Before=monit.service
Wants=asterisk.service postgresql.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o xivo-call-logs -g xivo-call-logs /var/run/xivo-call-logd
ExecStart=/usr/bin/xivo-call-logd
PIDFile=/var/run/xivo-call-logd/xivo-call-logd.pid

[Install]
WantedBy=multi-user.target
