# This file should not be modified as it may get changed by the maintainer.
# Add extra configuration files to the extra_config_files directory to override
# the settings in this file

# Directory in which to place config overrides
extra_config_files: /etc/wazo-call-logd/conf.d/

# Change the log level to debug level.
debug: false

# Database connection settings.
db_uri: postgresql://asterisk:proformatique@localhost/asterisk?application_name=wazo-call-logd
cel_db_uri: postgresql://asterisk:proformatique@localhost/asterisk?application_name=wazo-call-logd

# REST API server
rest_api:

  # Listening address
  listen: 127.0.0.1

  # Listening port
  port: 9298

  # CORS configuration. See Flask-CORS documentation for other values.
  cors:

    #Enabled by default
    enabled: True

    #Allow JSON preflight requests
    allow_headers: [Content-Type, Range, X-Auth-Token, Wazo-Tenant]

  # Maximum of concurrent threads processing requests
  # See the performance documentation for more details
  # https://wazo-platform.org/uc-doc/system/performance/
  max_threads: 10

# wazo-auth (authentication daemon) connection settings.
auth:
  host: localhost
  port: 9497
  prefix: null
  https: false
  key_file: /var/lib/wazo-auth-keys/wazo-call-logd-key.yml

# wazo-confd (configuration daemon) connection settings.
confd:
  host: localhost
  port: 9486
  prefix: null
  https: false

# Event bus (AMQP) connection settings
bus:
  username: guest
  password: guest
  host: localhost
  port: 5672
  exchange_name: wazo-headers

email_export_body_template: /var/lib/wazo-call-logd/templates/email_export_body.j2
email_export_from_name: Wazo
email_export_from_address: no-reply@wazo.community
email_export_subject: Your export is ready

# SMTP (e-mail) configuration for exports
smtp:
  host: localhost
  port: 25
  starttls: false
  timeout: 10
  username: null
  password: null
