version: '3'
services:
  sync:
    image: wazoplatform/wait
    environment:
      TIMEOUT: "${INTEGRATION_TEST_TIMEOUT}"

  auth:
    image: wazoplatform/wazo-auth-mock
    ports:
      - "9497"

  call-logd:
    image: wazo-call-logd-test
    volumes:
      - "../..:/usr/src/wazo-call-logd"
      - "./etc/wazo-call-logd/conf.d/50-default.yml:/etc/wazo-call-logd/conf.d/50-default.yml"
      # - "${LOCAL_GIT_REPOS}/xivo-lib-python/xivo:/opt/venv/lib/python3.7/site-packages/xivo"
      # - "${LOCAL_GIT_REPOS}/xivo-dao/xivo_dao:/opt/venv/lib/python3.7/site-packages/xivo_dao"
      # - "${LOCAL_GIT_REPOS}/xivo-bus/xivo_bus:/opt/venv/lib/python3.7/site-packages/xivo_bus"
    ports:
      - "9298"
    environment:
      XIVO_UUID: "08c56466-8f29-45c7-9856-92bf1ba89b92"

  confd:
    image: wazoplatform/wazo-confd-mock
    ports:
      - "9486"

  cel-postgres:
    image: wazoplatform/wazo-confd-db-test
    ports:
      - "5432"

  postgres:
    image: wazoplatform/wazo-call-logd-db
    ports:
      - "5432"

  rabbitmq:
    image: rabbitmq
    ports:
      - "5672"
    volumes:
      - type: tmpfs
        target: /var/lib/rabbitmq

  purge-db:
    image: wazo-purge-db-test
    volumes:
      - "../..:/usr/src/wazo-call-logd"
      - "./etc/wazo-purge-db/conf.d/50-default.yml:/etc/wazo-purge-db/conf.d/50-default.yml"
